#exportPattern("^[[:alpha:]]+")

#import(tidyr)
import(ggplot2)
#importFrom(magrittr,"%>%")
import(dplyr)
import(magrittr)
#import(data.table)
import(dtplyr)
#import(HDF5Array)
#import(rhdf5)
#import(SummarizedExperiment)
#import(S4Vectors)
#import(Biostrings)
#importFrom(S4Vectors, DataFrame)
#importFrom(Biostrings, DNAStringSet, BStringSet, AAStringSet)
importFrom(data.table, merge.data.table, setkey, getDTthreads, fread, is.data.table, as.data.table, rbindlist, fwrite, tstrsplit)

import(reticulate)
import(Matrix)


export("%>%")
importFrom(Rcpp, sourceCpp)
importFrom(RcppParallel, RcppParallelLibs)
useDynLib(TIRTLtools, .registration = TRUE)


## data_wrangling
export(add_metadata) # docs 99% done, could use an example
export(filter_dataset) # docs 99% done, could use real code in example
export(load_tirtlseq) # full docs
export(reorder_samples) # docs 99% done, could use examples

## qc and data summary
export(get_pair_stats) ## full docs
export(plot_paired) ## full docs
export(get_all_tcrs) ## full docs
export(summarize_data) ## full docs
export(get_paired_by_read_fraction_range) ## full docs
export(plot_paired_by_read_fraction_range) ## full docs
export(plot_paired_vs_rank) ## full docs
export(plot_pairs_with_eachother) ## full docs
export(plot_ranks) ## full docs
export(rank_plot) ## deprecated for plot_ranks()
export(plot_read_fraction_vs_pair_status) ## full docs
export(plot_sample_overlap) ## full docs
export(plot_n_reads) ## full docs
export(plot_num_partners) ## full docs

## pairing
export(run_pairing) # docs 90% done - needs details, examples
#export(run_single_point_analysis_sub_pseudobulk_only)
#export(run_single_point_analysis_sub_gpu)

## data_processing
export(TIRTL_process) ## docs 99% done, could use an example
export(add_single_chain_data) ## docs 99% done, could use an example
export(clean_pairs) ## docs 99% done, could use an example
#export(filter_duplicate_tcrs) ## hide this for internal use, create df w/ unique pairs upon loading
export(filter_mait) ## docs 99% done, could use an example
export(filter_nonfunctional_TCRs) ## docs 99% done, could use an example
export(filter_short_cdr3s) ## docs 99% done, could use an example
# export(filter_v_alleles) ## hide for internal use, not needed for package users
export(identify_non_functional_seqs) ## docs 99% done, could use an example
export(identify_paired) ## docs 99% done, could use an example
export(prep_for_tcrdist) ## docs 99% done, could use an example
export(remove_duplicates) ## docs 99% done, could use an example -- maybe hide, does the user need this?

## tcr_similarity
#export(_TIRTLtools_tcrdist_cpp)
#export(_TIRTLtools_tcrdist_parallel)
export(TCRdist) ## full docs
#export(tcrdist_cpp)
export(TCRdist_cpp) ## full docs
#export(tcrdist_parallel)
export(cluster_tcrs) ## docs 99% done, could use a real example
export(plot_clusters)


## longitudinal
export(plot_clone_size_across_samples) ## full docs
export(plot_sample_vs_sample) ## full docs

## diversity
export(calculate_diversity) ## full docs
export(diversity) ## deprecated for calculate_diversity()
export(plot_diversity) ## full docs
export(get_all_div_metrics) ## full docs
export(plot_clonotype_indices) ## full docs

## stitchr (external tools)
export(create_thimble_df) ## 95% docs, needs example
export(write_stitchr_tsv) ## 95% docs, needs example

## well
#export(filter_well_data) ## hidden for now
export(get_well_subset) ##
#export(get_wells_from_edges) ## hidden for now
#export(load_well_data) ## hidden for now

#export(load_well_data_to_df_single)
#export(load_well_data_to_sparse_multi)
#export(load_well_data_to_sparse_single)
#export(well_data_df_to_sparse)
#export(well_data_df_to_sparse_multi)

## download
#export(download_dataset)
#export(get_files_gh)
#export(get_files_gh_SJTRC_minimal)

## data
#export(params) ## full docs, don't need to export these
#export(submat) ## full docs, don't need to export these


## single-cell
#export(clean_scTIRTLseq) ## hidden for now
#export(summarize_scTIRTLseq) ## hidden for now

## python-deps
export(install_python_env) ## full docs

## edgeR
#export(make_pseudo_replicates)
#export(run_edgeR)
#export(split_wells)

## alternate data containers
#export(convert_to_summarized_experiment)
#export(get_row_data)
#export(load_TIRTL_HDF5_10x)
#export(load_TIRTL_HDF5_sparse)
#export(read_h5_df)
#export(read_meta_HDF5)
#export(read_meta_parquet)
#export(save_TIRTL_meta)
#export(save_TIRTL_to_HDF5_10x)
#export(save_TIRTL_to_HDF5_sparse)
#export(show_row_data)







